<section class="features">
  <div class="features__container">
    {% for block in section.blocks %}
      <div class="features__block">
        <h2>{{ block.settings.content_heading }}</h2>
        <div>{{ block.settings.content_text }}</div>
        {% if block.settings.content_link %}
          <a href="{{ block.settings.content_link }}">
            {{ block.settings.content_link_text }}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Features",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "content",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "feature_icon",
          "label": "Feature icon",
          "options": [
            {
              "value": "free_shipping",
              "label": "Free Shipping"
            },
            {
              "value": "free_returns",
              "label": "Free Returns"
            },
            {
              "value": "secure_checkout",
              "label": "Safe & Secure Checkout"
            }
          ]
        },
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features"
    }
  ]
}
{% endschema %}
