{{ 'section-features.css' | asset_url | stylesheet_tag }}
{{ 'helpers.css' | asset_url | stylesheet_tag }}

<section class="features">
  <div class="features__container">
    {% for block in section.blocks %}
      <div class="features__block">
        {% render 'icons', icon_name: block.settings.feature_icon %}
        {{ block.settings.feature_text }}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Features",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "content",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "feature_icon",
          "label": "Feature icon",
          "options": [
            {
              "value": "free_shipping",
              "label": "Free Shipping"
            },
            {
              "value": "free_returns",
              "label": "Free Returns"
            },
            {
              "value": "secure_checkout",
              "label": "Safe & Secure Checkout"
            }
          ]
        },
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features"
    }
  ]
}
{% endschema %}
