.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 23px 21px 23px;
}

.site-header .header__logo {
  width: 119px;
}

.site-header__nav-desktop,
.site-header__search {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .site-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 42px 52px 52px 52px;
  }

  .site-header .header__logo {
    width: 229px;
    height: 51px;
  }

  .site-header__nav-mobile {
    display: none;
  }

  .site-header__nav-desktop {
    display: block;
  }

  .site-header__nav-desktop ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
  }

  .site-header__nav-desktop ul li {
    text-transform: uppercase;
  }

  .site-header__nav-desktop ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
  }

  .site-header__nav-desktop ul li a.sale {
    color: #ff2500;
  }

  .site-header__search {
    display: block;
    position: relative;
  }

  .site-header__search input {
    padding: 10px 35px 10px 19px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    width: 193px;
  }

  .site-header__search .icon--search {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .site-header__account__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
  }

  .site-header__account {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
    margin-right: 32px;
  }

  .site-header__account-heading {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
  }

  .site-header__account-link {
    font-size: 12px;
    font-weight: 400;
    color: #4a4a4a;
    text-decoration: underline;
  }

  .site-header__account-separator {
    width: 1px;
    height: 100%;
    background-color: #d8d8d8;
  }

  .site-header__cart {
    margin-left: 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
